<!-- templates/detail.html -->
{% extends 'base.html' %}
<h1>detail page</h2>
{% block content %}
    <div class="post-entry">
        <h2>{{ object.title }}</h2>
        <p>{{ object.body }}</p>
    </div>
{% endblock content %}